<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/context   
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- 加载properties文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:${env}/*.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- 定义扫描根路径为org.lazicats.ecos的类 -->
	<context:component-scan base-package="org.lazicats.ecos.internal">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- <bean class="org.lazicats.ecos.internal.common.CustomHandlerExceptionResolver" /> -->

	<!-- jdbc配置 -->
	<import resource="application-c3p0.xml" />

	<!-- CXF webservice configuration -->
	<import resource="webservice-server-conf.xml" />
	
	<!-- hessian 远程服务配置 -->
	<import resource="hessian-remote.xml" />
	
</beans>